*,
*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    -sizing: border;
}


/* HEADER STYLE */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edf9ff;
}

.sapious-logo {
    width: 12rem;
    height: 10rem;
    margin-left: 4rem;
}

.navList {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.navLink {
    display: inline-block;
    font-size: 1.7rem;
    color: #333;
    gap: 1rem;
    font-weight: bold;
    margin: 1.2rem;
    text-decoration: none;
}

.navLink:hover {
    color: #07a3e9;
}

.navBtn {
    padding: 1.1rem 2.3rem;
    color: #fff;
    background-color: #07a3e9;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 3rem;
}


/* HERO STYLE */

.heroSection {
    background-color: #edf9ff;
    padding: 5rem 0 10rem 0;
}

.hero {
    padding: 0 3.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9rem;
    max-width: 140rem;
    align-items: center;
    margin: 0 15rem;
}

.hero-title {
    font-size: 4rem;
    margin-bottom: 3rem;
}

.hero-text {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.customers {
    display: flex;
    gap: 3rem;
}

.customers-imgs {
    display: flex;
}

.customers-imgs img {
    border-radius: 50px;
    margin-right: -1.5rem;
    border: 3px solid #07a3e9;
    background-size: cover;
    width: 5rem;
    height: 5rem;
    margin-top: 10px;
}

.hero-img {
    width: 35rem;
    height: 30rem;
}

.btns {
    display: flex;
    gap: 1.8rem;
    margin-bottom: 2rem;
}

.btns a {
    text-decoration: none;
}

.btn-left {
    background-color: #07a3e9;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.btn-right {
    background-color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 5px;
    font-weight: 700;
}

span {
    color: #07a3e9;
    font-weight: 700;
}

.customer-text {
    font-size: 1.4rem;
    margin-top: 2.5rem;
}


/*  STEPS STYLE */

.section-path {
    background-color: #fff;
    padding: 10rem 20rem;
    align-items: center;
}

.spanTitle {
    font-size: 1.5rem;
    color: #07a3e9;
    margin-bottom: 1.8rem;
    font-weight: 600;
    display: block;
    text-transform: uppercase;
}

.number-step {
    font-size: 5rem;
    color: #555;
}

.paragraph-step {
    font-size: 1.5rem;
    line-height: 2rem;
}

.step-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img {
    width: 15rem;
}

.gridd {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem;
}


/* STYLE TESTIMONIALS SECTION */

.testimonials-section {
    background-color: #edf9ff;
    align-items: center;
    display: grid;
    grid-template-columns: 50fr 40fr;
}

.container__testimonials {
    padding: 9rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 8rem;
}

.testimonial-text {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.4rem;
    line-height: 1.6;
}

.testimonial-name {
    margin-bottom: 1rem;
    color: #6f6f6f;
    font-size: 1.2rem;
}

.testimonial-img {
    margin-bottom: 1.5rem;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50px;
    margin-bottom: 0.3rem;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.4rem;
    gap: 1rem;
}

.fotos {
    height: 20rem;
}

.fotos img {
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    transition: all .3s ease;
}

.fotos img:hover {
    transform: scale(1.1);
}


/* STYLE PRICING */

.price {
    padding: 10rem 0;
}

.frontend {
    align-items: center;
    border-radius: 10px;
    width: 30rem;
    height: 41rem;
    border: 2px solid #edf9ff;
    padding: 3rem 6rem;
    margin-left: 22rem;
}

.title-pricing {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #07a3e9;
    margin-bottom: 3rem;
}

.dollar-price {
    color: #333;
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 1.3rem;
    margin-left: 4.5rem;
}

.frontend span {
    color: #333;
    font-size: 2.2rem;
    margin-right: 0.6rem;
}

.text-price {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    color: #555;
}

.list {
    margin-bottom: 3rem;
}

.fullstack {
    background-color: #edf9ff;
    align-items: center;
    border-radius: 10px;
    width: 30rem;
    height: 41rem;
    border: 2px solid #edf9ff;
    padding: 3rem 6rem;
}

.fullstack span {
    color: #333;
    font-size: 2.2rem;
    margin-right: 0.6rem;
}

.grid--price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.detail {
    font-size: 1.1rem;
}